html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(232, 238, 240);
}
a {
    text-decoration: none;
}

#root {
    overflow: auto;
    height: 100vh;
}

.p-sidebar-right {
    width: 50vw;
    z-index: 1001004;
    height: 100vh;
    overflow: auto;
}

.p-menuitem-text {
    margin-left:80px
}

.p-sidebar {
    background-color: rgb(232, 238, 240);
}

.p-tieredmenu {
    background-color: transparent;
}

.p-d-inline-flex {
    background-color: transparent;
    padding-top: 30px;
}


.p-fieldset {
    background-color: transparent;
}

.p-dissabled-link {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

