.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    font-weight: bold;
}

.timeline-demo .p-timeline-event-content,
.timeline-demo .p-timeline-event-opposite {
    line-height: 1;
}

@media screen and (max-width: 960px) {
    .timeline-demo .customized-timeline .p-timeline-event:nth-child(even) {
        flex-direction: row !important;
    }
    .timeline-demo .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
        text-align: left !important;
    }
    .timeline-demo .customized-timeline .p-timeline-event-opposite {
        flex: 0;
    }
    .timeline-demo .customized-timeline .p-card {
        margin-top: 10rem;
    
    }
}

a:-webkit-any-link {
    color: #495057;
}

.x-project-details {
    width: 90vw;
    margin: 30px auto;
    padding-top: 20px;
}




// .x-timeline {
    
//     .p-card {
//         overflow: hidden;
//         &.x-collapsed {
//             height: 85px;
//         }

//         &.x-expanded {
//             height: 375px;
//         }
//     }
// }

// .p-timeline-event {
//     display: flex;
    

//     .x-toolbar {
//         display: flex;
//         > span {
//             i {
//                 cursor: pointer;
//                 margin: 2px;
//                 padding: 2px;
//                 border: 1px solid #ccc;
//                 border-radius: 3px;
//             }
//         }
//     }
//     &:nth-child(odd) {
//         .x-toolbar {
//             > span {
//                 &:nth-of-type(2) { 
//                     order: 2; 
//                 }
//                 &:nth-of-type(1) { 
//                     order: 1; 
//                     flex: 1;
//                 }
//             }
//         }
//     }
//     &:nth-child(even) {
//         .x-toolbar {
//             > span {
//                 &:nth-of-type(1) { 
//                     order: 2; 
//                     flex: 1;
//                 }
//                 &:nth-of-type(2) { 
//                     order: 1; 
//                 }
//             }
//         }
//     }
// }