

.x-timeline {
    margin-top: 20px;
    .p-card {overflow: hidden;
        &.x-collapsed {
            height: 110px;
            .x-content { 
                display: none;
            }
            .x-toolbar {
                margin-top: -25px;
            }
        }

        &.x-expanded {
            height: 350px;

            .p-card-body {
                height: inherit;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.p-timeline-event {
    display: flex;

    .x-toolbar {
        display: flex;
        > span {
            i {
                cursor: pointer;
                margin: 2px;
                padding: 2px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }
        }
    }
    &:nth-child(odd) {
        .x-toolbar {
            > span {
                text-align: end;
                &:nth-of-type(2) { 
                    order: 2; 
                }
                &:nth-of-type(1) { 
                    order: 1; 
                    flex: 1;
                }
            }
        }

        .x-content { 
            text-align: start;
        }
    }

    &:nth-child(even) {
        .x-toolbar {
            > span {
                text-align: start;
                &:nth-of-type(1) { 
                    order: 2; 
                    flex: 1;
                }
                &:nth-of-type(2) { 
                    order: 1; 
                }
            }
        }

        .x-content { 
            text-align: start;
        }
    }
}


.p-card .p-card-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1;

    .x-content { 
        flex: 1;
    }
}